BuilderPattern/obj/BuilderPattern.csproj.nuget.dgspec.json
BuilderPattern/obj/BuilderPattern.csproj.nuget.g.props
BuilderPattern/obj/project.assets.json
BuilderPattern/obj/project.nuget.cache
BuilderPattern/obj/Debug/netcoreapp3.1/BuilderPattern.assets.cache
DataStructures/obj/DataStructures.csproj.nuget.dgspec.json
DataStructures/obj/DataStructures.csproj.nuget.g.props
DataStructures/obj/project.assets.json
DataStructures/obj/project.nuget.cache
DataStructures/obj/Debug/netcoreapp3.1/DataStructures.assets.cache
DataStructures/obj/Debug/netcoreapp3.1/DataStructures.csprojAssemblyReference.cache
DependecyInversionPrinciple/obj/DependencyInversionPrinciple.csproj.nuget.dgspec.json
DependecyInversionPrinciple/obj/DependencyInversionPrinciple.csproj.nuget.g.props
DependecyInversionPrinciple/obj/project.assets.json
DependecyInversionPrinciple/obj/project.nuget.cache
DependecyInversionPrinciple/obj/Debug/netcoreapp3.1/DependencyInversionPrinciple.assets.cache
DependecyInversionPrinciple/obj/Debug/netcoreapp3.1/DependencyInversionPrinciple.csprojAssemblyReference.cache
DesignPatterns/.vs/DesignPatterns/DesignTimeBuild/.dtbcache.v2
DesignPatterns/.vs/DesignPatterns/v16/.suo
DesignPatterns/obj/DesignPatterns.csproj.nuget.dgspec.json
DesignPatterns/obj/DesignPatterns.csproj.nuget.g.props
DesignPatterns/obj/project.assets.json
DesignPatterns/obj/project.nuget.cache
DesignPatterns/obj/Debug/netcoreapp3.1/DesignPatterns.assets.cache
DesignPatterns/obj/Debug/netcoreapp3.1/DesignPatterns.csprojAssemblyReference.cache
Excercises/obj/Excercises.csproj.nuget.dgspec.json
Excercises/obj/Excercises.csproj.nuget.g.props
Excercises/obj/project.assets.json
Excercises/obj/project.nuget.cache
Excercises/obj/Debug/netcoreapp3.1/Excercises.assets.cache
Excercises/obj/Debug/netcoreapp3.1/Excercises.csprojAssemblyReference.cache
Factories/obj/Factories.csproj.nuget.dgspec.json
Factories/obj/Factories.csproj.nuget.g.props
Factories/obj/project.assets.json
Factories/obj/project.nuget.cache
Factories/obj/Debug/netcoreapp3.1/Factories.assets.cache
Factories/obj/Debug/netcoreapp3.1/Factories.csprojAssemblyReference.cache
InterfaceSegPrinciple/obj/InterfaceSegPrinciple.csproj.nuget.dgspec.json
InterfaceSegPrinciple/obj/InterfaceSegPrinciple.csproj.nuget.g.props
InterfaceSegPrinciple/obj/project.assets.json
InterfaceSegPrinciple/obj/project.nuget.cache
InterfaceSegPrinciple/obj/Debug/netcoreapp3.1/InterfaceSegPrinciple.assets.cache
InterfaceSegPrinciple/obj/Debug/netcoreapp3.1/InterfaceSegPrinciple.csprojAssemblyReference.cache
LiskovSubPrinciple/obj/LiskovSubPrinciple.csproj.nuget.dgspec.json
LiskovSubPrinciple/obj/LiskovSubPrinciple.csproj.nuget.g.props
LiskovSubPrinciple/obj/project.assets.json
LiskovSubPrinciple/obj/project.nuget.cache
LiskovSubPrinciple/obj/Debug/netcoreapp3.1/LiskovSubPrinciple.assets.cache
OpenClosedPrinciple/obj/OpenClosedPrinciple.csproj.nuget.dgspec.json
OpenClosedPrinciple/obj/OpenClosedPrinciple.csproj.nuget.g.props
OpenClosedPrinciple/obj/project.assets.json
OpenClosedPrinciple/obj/project.nuget.cache
OpenClosedPrinciple/obj/Debug/netcoreapp3.1/OpenClosedPrinciple.assets.cache
Prototype/obj/project.assets.json
Prototype/obj/project.nuget.cache
Prototype/obj/Prototype.csproj.nuget.dgspec.json
Prototype/obj/Prototype.csproj.nuget.g.props
Prototype/obj/Debug/netcoreapp3.1/Prototype.assets.cache
